* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}

html, body, #root {
  background-color: #2A1F42;
  color: white;
  height: 100%;
}